<div class="container">
  <div class="menuItems">
    <div class="icon">
        <a href="https://news.ycombinator.com"><img class="" alt="icon" src="./assets/images/y18.gif" /></a>
    </div>
    <div class="brand">
      <a href="https://news.ycombinator.com/news" class="menuItem" id="brand">Hacker News</a>
    </div>
    <div class="menu1">
      <p class="menuItem menu">news |</p>
      <p class="menuItem menu">past |</p>
      <p class="menuItem menu">comments |</p>
      <p class="menuItem menu">ask |</p>
      <p class="menuItem menu">show |</p>
      <p class="menuItem menu">jobs |</p>
      <p class="menuItem">submit</p>
    </div>
    <div class="menu2">
      <p class="login" style="margin: 0px">login</p>
    </div>
  </div>
</div>

