<div class="container">
  <a href="https://www.startupschool.org"><p class="text-center">Registration is open for Startup School 2019. Classes start July 22nd.</p></a>
  <div class="links">
    <a href="https://news.ycombinator.com/newsguidelines.html"><p>Guidelines |</p></a>
    <a href="https://news.ycombinator.com/newsfaq.html"><p>FAQ |</p></a>
    <a href="mailto:hn@ycombinator.com"><p>Support |</p></a>
    <a href="https://github.com/HackerNews/API"><p>API |</p></a>
    <a href="https://news.ycombinator.com/security.html"><p>Security |</p></a>
    <a href="https://news.ycombinator.com/lists"><p>Lists |</p></a>
    <a href="https://news.ycombinator.com/bookmarklet.html"><p>Bookmarklet |</p></a>
    <a href="https://www.ycombinator.com/legal/"><p>Legal |</p></a>
    <a href="https://www.ycombinator.com/apply/"><p>Apply to YC |</p></a>
    <a href="mailto:hn@ycombinator.com"><p>Contact</p></a>
  </div>
  <div class="search">
    <p>Search:</p>
    <input type="text">
  </div>
</div>
